
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
</head>
<body>
    <div> 
        <h1>Hello from index</h1>
        
        
        <input type="text" id="txtBox" />
        
        <label id="lbl"></label>
        
        
        
        <input type="button" onclick="BtnClick()" name="btn" value="submit" id="btn" />


    </div>
</body>
</html>

<script>
    
    function BtnClick() {
        var value = $("#txtBox").val();
        $("#lbl").text(value);  
    }
</script>