
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
</head>
<body>
    <div> 
        <h1>Hello from index</h1>
        
        
        <div>
            <h2>Id</h2> - <h2 id="stdId"></h2>
            <h2>Name</h2> - <h2 id="stdName"></h2>
            <h2>Email</h2> - <h2 id="stdEmail"></h2>
        </div>
        
        
        <input type="button" onclick="BtnClick()" name="btn" value="submit" id="btn" />


    </div>
</body>
</html>

<script>
    
    function BtnClick() {
        $.ajax({
            url: "/Home/GetStudent",
            method: "GET",
            success: function (data) {
                data = JSON.parse(data);
                $("#stdId").text(data.Id);
                $("#stdName").text(data.Name);
                $("#stdEmail").text(data.Emial);

            },
            error: function (error) {
                console.log(error);
            }
        })
    }
</script>